.header {
    height: 36px;
    padding: 8px 8px 32px 16px;
    background-color:  #222;
  }

  .logo {
     background-color: #ff7f7f;
     height: 36px;
     float: 'left';
     animation: mymove 8s infinite;

  }

  .logins {
    float: right;
    position: 'absolute';
  }

  @keyframes mymove {
    50% {transform: rotate(180deg);}
  }

  
